<!DOCTYPE html>
<html lang="es" data-theme="light" xlmns:th="https://thymeleaf.org/" xlmns:sec="https://thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redin</title>
</head>
<body>
    <nav th:replace="fragments/navbar :: nav"></nav>
<div class="secciones">
    <div class="dinamicas"> <a href="">
        <h3>Dinámicas de reunión</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed reiciendis optio facere asperiores, atque commodi obcaecati nesciunt sint vitae sit soluta earum ea cum assumenda modi, expedita velit. Quas, itaque!</p>
    </a>
    </div>
    <div class="Frases"> <a href="">
        <h3>Frases para tarjetas</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed reiciendis optio facere asperiores, atque commodi obcaecati nesciunt sint vitae sit soluta earum ea cum assumenda modi, expedita velit. Quas, itaque!</p>
    </a>
    </div>
     <div class="Planificaciones"> <a href="">
        <h3>Planificaciones</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed reiciendis optio facere asperiores, atque commodi obcaecati nesciunt sint vitae sit soluta earum ea cum assumenda modi, expedita velit. Quas, itaque!</p>
    </a>
    </div>
    <div class="Bibliografía de consulta"> <a href="">
        <h3>Bibliografía de consulta</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed reiciendis optio facere asperiores, atque commodi obcaecati nesciunt sint vitae sit soluta earum ea cum assumenda modi, expedita velit. Quas, itaque!</p>
    </a>
    </div>
    <div class="Plantillas"> <a href="">
        <h3>Plantillas de recursos</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed reiciendis optio facere asperiores, atque commodi obcaecati nesciunt sint vitae sit soluta earum ea cum assumenda modi, expedita velit. Quas, itaque!</p>
    </a>
    </div>
    <div class="Canciones"> <a href="">
        <h3>Canciones</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed reiciendis optio facere asperiores, atque commodi obcaecati nesciunt sint vitae sit soluta earum ea cum assumenda modi, expedita velit. Quas, itaque!</p>
    </a>
    </div>

</div>

</body>
</html>